@keyframes move {
  0% {
    opacity: 1;
    display: block;
    color: red;
  }
  100% {
    opacity: 0;
    display: block;
    transform: translateY(-60px);
    color: red;
  }
}
@keyframes flash {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.container .balance_container .remain, .container .balance_container .expense, .container .balance_container .balance {
  height: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.container .add_container .field {
  align-self: center;
  width: 40%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  font-style: italic;
}

label {
  font-size: 1.2rem;
}

.box {
  position: absolute;
  left: 58%;
  top: 43%;
  display: none;
}

.active {
  animation: move 1s ease-in-out;
  animation-fill-mode: both;
  display: block;
}

.flash {
  animation: flash 500ms ease-in-out;
  animation-fill-mode: both;
}

html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: "Play", sans-serif;
  background-image: radial-gradient(#f5f7fa, #c3cfe2);
  background-image: url(images/marble-2398946__340.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: auto;
  height: auto;
}

.inner_container {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-flow: column;
  border-bottom: 4px solid black;
  height: 23vh;
}
.inner_container .fa-sync {
  align-self: flex-end;
  margin: 10px 30px 0 0;
  font-size: 1.5rem;
}
.inner_container .fa-sync:hover {
  transform: rotate(360deg);
  transition: 500ms;
  color: red;
  cursor: pointer;
}
.inner_container .fa-sync:active {
  transform: scale(1.5);
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 90%;
  width: 60%;
  text-align: center;
}
.container .balance_container {
  display: grid;
  width: 100%;
  height: 40%;
  grid-template-columns: repeat(2, 40%);
  align-items: center;
  justify-content: center;
}
.container .amount_container {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.container .amount_container .amount {
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
  height: 15%;
}
.container .amount_container button {
  border-radius: 5px;
  box-shadow: 1px 2px 1px 1px gray;
  margin: 0 0 5px 10px;
  background-color: white;
  font-size: 1rem;
  padding: 0 8px 0 8px;
}
.container .amount_container button:active {
  transform: translateY(5px);
  transition: 300ms;
  box-shadow: 0 0 0 0;
}
.container .amount_container button:hover {
  cursor: pointer;
  color: white;
  transition: 300ms;
  background-color: green;
}
.container .add_container {
  display: flex;
  flex-flow: column;
  margin-top: 5vh;
  width: 100%;
}
.container .add_container label:nth-of-type(1) {
  margin-right: 8px;
}
.container .add_container .field:focus {
  border: 2px solid black;
  transition: 300ms;
}
.container .add_container .fa-plus-circle {
  font-size: 1.5rem;
  color: #006700;
}
.container .add_container .fa-plus-circle:hover {
  transform: scale(0.95);
  transition: 350ms;
  cursor: pointer;
}
.container .add_container .fa-plus-circle:active {
  transform: scale(2);
}
.container .review_container {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  width: 100vw;
  margin-top: 1vh;
  text-align: center;
  height: 10vh;
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
}
.container .review_container .list {
  list-style: none;
  margin-right: 12%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.container .review_container .list li {
  margin: 5px 0 5px 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 8px;
  width: 40%;
  text-align: center;
  word-break: keep-all;
}

@media all and (min-width: 750px) {
  .box {
    left: 60%;
  }

  .container .add_container .field {
    width: 30%;
  }
  .container .review_container .list {
    margin-right: 4%;
  }
  .container .review_container .list li {
    width: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
