@media all and (min-width:750px){
    .box{
        left: 60%;
    }
    .container{
        .add_container{
            .field{
                width: 30%;
            }
        }
        .review_container{
            .list{
                margin-right: 4%;
                li{
                    width: 20%;
                }
            }
        }
    }
}
